/***********************
Main CSS based on twitter 
bootstrap build with .less
by pdxiii & fabiantheblind
Copyright © 2012
************************/

@import "bootstrap/bootstrap.less";
@import "lightbox.less";

/************************ OWN AND OVERWRITE *************************


	   ____ _       ___   __
	  / __ \ |     / / | / /
	 / / / / | /| / /  |/ / 
	/ /_/ /| |/ |/ / /|  /  
	\____/ |__/|__/_/ |_/   
	                        

	   ___   
	  ( _ )  
	 / __ \/|
	/ /_/  < 
	\____/\/ 
	         

	   ____ _    ____________ _       ______  ________________
	  / __ \ |  / / ____/ __ \ |     / / __ \/  _/_  __/ ____/
	 / / / / | / / __/ / /_/ / | /| / / /_/ // /  / / / __/   
	/ /_/ /| |/ / /___/ _, _/| |/ |/ / _, _// /  / / / /___   
	\____/ |___/_____/_/ |_| |__/|__/_/ |_/___/ /_/ /_____/   
	                                                          


**********************************************************/
// @import "responsive.less";

// overwriting bootstraps variables
@bodyBackground:		@grayLighter;
@barcolor:				#e7e7e7;
@goldcolor: 			#d5d46b;

@sansFontFamily:		"calluna-sans", Helvetica, Arial, sans-serif;
@serifFontFamily:		"calluna", Georgia, Times, serif;
@baseFontFamily:		@serifFontFamily;
@altFontFamily:			@sansFontFamily;

@headingsFontFamily:	@serifFontFamily;
@headingsFontWeight:	normal;
// @textColor:				#ffffcc;
@textColor:				darken(@red, 20%);
@baseLineHeight:		1.5em;
@baseFontSize:			1.1em;

@linkColor:             @red;
@linkColorHover:        darken(@linkColor, 15%);
@zIndex :				1100;


// own variables
@darkRed:				#660000;

@fixedBarMargins: 		50px;

@letterPressShadow: 0 -1px 1px @red, 0 1px 1px @white;
@letterPressShadowOnRed: 0 -1px 1px @gray, 0 1px 1px @red;
@baseCornerRadius:	@baseLineHeight;
@topbarShadowCol: 0px 1px 3px @grayDarker;



/**********
MIXINS
*************/

.letterspacing(){
letter-spacing:-0.05em;
}

.hyphenation(){
// -webkit-hyphens: auto;
// -moz-hyphens: auto;
// hyphens: auto;

-ms-word-break:break-all;
//word-break: break-all;
//word-break: break-word;
-moz-hyphens: auto;
-webkit-hyphens: auto;
hyphens: auto;
hyphenate: auto;

}

.borderRadius01(){
	border-radius: @baseCornerRadius;
	-moz-border-radius: @baseCornerRadius;
	-webkit-border-radius: @baseCornerRadius;
}

.borderRadius02(){
	border-radius: @baseCornerRadius/4;
	-moz-border-radius: @baseCornerRadius/4;
	-webkit-border-radius: @baseCornerRadius/4;
}

.fancyBorder(){
	border-style:solid !important;
	border-width:2px !important; 
	border-color: #e1e1e1 !important;
}

.borderRadiusThumb(){
@rad : @baseCornerRadius / 4;
border-bottom-right-radius: @rad;
-moz-border-radius-bottomright: @rad;
-webkit-border-bottom-right-radius: @rad;
}

.topbarShadow(){

  -moz-box-shadow: @topbarShadowCol;//5px 5px 5px #e2e2e2; /* FF3.5+ */
  -webkit-box-shadow: @topbarShadowCol;//5px 5px 5px #e2e2e2;/*Saf3+, Chr*/
  box-shadow: @topbarShadowCol;//5px 5px 5px #e2e2e2; /*Op10.5, IE 9, FF4*/
  // filter:progid:DXImageTransform.Microsoft.Shadow  ⏎
  // (color=#e2e2e2, Direction=135, Strength=5); /* IE6-7 */
   -ms-filter:"progid:DXImageTransform.Microsoft.Shadow  (color=#222222, Direction=180, Strength=3)"; /* IE8 */
  // zoom:1; /* trigger hasLayout */
}

.topAndBottomBarStyle(){

	background-color: @barcolor;
	width:100%;
	position: fixed;
	z-index: @zIndex;
	margin-left: -60px;

	a, a:hover{
		text-transform: uppercase;
	}

}

.serifsemibold(){
font-family: "calluna",Georgia,Times, serif;
font-style: normal;
font-weight: 600;
}
.serifitalic(){
font-family: "calluna", Georgia,Times, serif;
font-style: italic;
font-weight: 400;
}

.serifblack(){
font-family: "calluna",Georgia, Times, serif;
font-style: normal;
font-weight: 900;
}


/**********
MIXINS END
*************/


body {
  padding: 60px;
	background-image: url(../images/norwegian_rose.png);
}


h1, h2, h3, h4, h5, h6{
	text-shadow: @letterPressShadow;
}

h2{
	text-align: center;
}

p{
	word-wrap: break-word;
	text-align: justify;
	.hyphenation;
	// text-align-last: left;
}
small{
	font-family: @sansFontFamily;
}

a, a:hover{
	font-family: @sansFontFamily;
	// font-size: 0.8em;
	text-decoration: none;
	letter-spacing:1px;
}


#navLinks{
	width: 80%;
}

#topbar{
	font-size: 0.9em;
	.topAndBottomBarStyle;
	top: 0px;
	height: 45px;
	.topbarShadow;
	a{
		float: left;
		display: block;
		padding: 10px 20px 0px 0px;
		text-align: left;
	}

}



#contactbutton{
	@rad : 75px;
	width:@rad*2;
	height:@rad*2;
	background-color: #471b25;
	border-radius: @rad;
	-moz-border-radius: @rad;
	-webkit-border-radius: @rad;
	.fancyBorder;
	.topbarShadow;
	z-index: @zIndex + 3;
	float:right;
	position: fixed; top: -3.0em; right: 5em; 
	h2{
		overflow: visible;
		.serifblack;
		@fontHeight : 28px;
		font-size: @fontHeight;
		line-height: (@rad*2) - @fontHeight;
			// text-shadow:none;
		text-shadow: -1.5px -1.5px 2px #434343;

		:before, :after {
    		content: attr(title);
    		color: rgba(255,255,255,1);
		}
		:before {
    		top: 1px;
    		left: 1px;
    		opacity:.12;
		}
		:after {
    		top: 2px;
    		left: 2px;
    		opacity:.12;
		}

	}

	a{
		color:@goldcolor;

	}
	a:hover{
		color:#cccccc;
	}

}

#myCarousel{
	max-height: 600px;
	.carousel-inner{
		.item{
				max-height: 600px;

		}
	}
.fancyBorder;
.topbarShadow;
}

#history {
	#postcard{
 		.fancyBorder;
 		.topbarShadow;
 		margin-bottom: 3em;
	}
	#heleneleft, #heleneright{
		.fancyBorder;
		.topbarShadow;

	}
	#heleneright{
		float:right;
		margin-left: @gridGutterWidth;
			img{
			// @iw:160px;
			// @ih:398px;
			@iw:160px;
			@ih:229px;
			@factor:1.2;
			width:@iw * @factor;
			height:@ih * @factor;
		}
	}
	#heleneleft{
		float:left;
		margin-right: @gridGutterWidth;
		img{

			// @iw:160px;
			// @ih:229px;
			@iw:160px;
			@ih:398px;

			@factor:0.7;
			width:@iw * @factor;
			height:@ih * @factor;
		}
	}

}



#bottombar{

	.topAndBottomBarStyle;
	bottom: 0px;
	height: 60px;

	#centerlogo{
	@radlogo : 100px;
	width:@radlogo*2;
	height:@radlogo*2;
	background-color: @barcolor;
	border-radius: @radlogo;
	-moz-border-radius: @radlogo;
	-webkit-border-radius: @radlogo;
	display: block;
	margin-left: auto;
	margin-right: auto;
	z-index: @zIndex;
	top: -80px;
	position:relative;
		img{

			top: 20px;
			display: block;
		 	margin-left: auto;
		 	margin-right: auto;
		 	max-height: @radlogo * 0.8;
			}
		}

	#buttonbartxt{
	margin-top: 20px;
	// padding-left: -40px;
		font-size: 0.8em;
		a, a:hover{
		text-transform: lowercase;
		}

	}

}

#quote{
	font-size: 1.2em;
}
#source{
	float: right;
}

#singlePreview{
	background-image: url("../images/single_room_thumb.png");
}
#doublePreview{
	background-image: url("../images/double_room_thumb.png");
}
#suitePreview{
	background-image: url("../images/bellevue_room_thumb.png");
}

.priceTile{


	.borderRadius02;
	background-color: @bodyBackground;
	// .fancyBorder;
	background-image: url("../images/norwegian_rose_@2X.png");

	.topbarShadow;

	#tiledistel {
						@w 		:	60px;
						@h 		:	60px;
						@s 		:	0.6;
						width 	:	@w * @s !important;
						height 	:	@h * @s !important;
					}
				

	.priceHead{
		font-size: 20px;
		text-align: center;
		margin-bottom: 8px;

		
	}
	.roomPreview{
		height: 5 * @baseLineHeight;
		border-bottom-style:solid;
		border-color: @red;
		border-width: medium;
	}
	.priceCaption{
		margin-top:  @baseLineHeight/2;
		margin-left: @baseLineHeight/2;
		margin-right: @baseLineHeight/2;
	}
	.pricetag{
		.borderRadius01;
		width: @baseLineHeight *2;
		height: @baseLineHeight *2;
		background-color: @textColor;
		float: right;
		margin-top: -@baseLineHeight;
		margin-right: -10px;
		text-align: center;
		color: @bodyBackground;
		.fancyBorder;
		// border: 2px solid @bodyBackground;

		.topbarShadow;
		.price{
			color: @goldcolor;
			.serifitalic;
			margin-top: @baseLineHeight/2;
			margin-left: 2px;
			text-align: center;
			text-shadow: @letterPressShadowOnRed;
			.digits{
				// font-size: 1.3em;
				margin-top: @baseLineHeight/3;
				margin-left: -3px;
			}
		}
}
}




// #skyimage{

// 	background-image: url("../images/sky.png");
// 	height:500px;
// }
#others{
	width: 100%;
	background-color: @barcolor;
	border-top-style:solid;
	border-color: @red;
	border-width: medium;
	padding: 0px 60px 0px 60px;
	margin-left: -60px;
	h2 {

		img {
			@scale: 0.3;
			width:500px * @scale;
			height:435px * @scale;
		}
	}
}
#container{
	margin-top: -30px;
}
.separator{
	width: 100%;
	text-align: center;
}

#map_canvas {
	height: 7*@baseLineHeight;
	position: relative;
	.fancyBorder;
	.topbarShadow;
}

/*********************************
 Lightbox
*********************************/


// #lightbox

#lb{

}
.lb-image{

	.fancyBorder;
}

#thumbnails{
	padding-top: 1em;
 	a img {
 		.fancyBorder;
 		.topbarShadow;
	}

}
/*********************************
 END Lightbox
*********************************/


/***********************
Overwrite Bootstrap CSS CLASSES
************************/
.hero-unit{
	background-color: @bodyBackground;
}



.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;
}

#welcome{
}

/*********************************
	Bereich Bett and Bread
*********************************/

#bettandbreadrow{
}

#bettandbread{
}

#fruehstueck{
}

/*********************************
	Bereich Ankelohe und Umgebung
*********************************/

#headline_akuu{
}

#ankeloheundumgebung, #umgebung {


}

#facilities{



}

#ankeloheundumgebung{
}

#umgebung{
}

#facilities{
}



/*********************************
	Bereich Preise und policy
*********************************/

#preiseundpolicyintro{
}


#preiseundpolicyrow, #policy, #preise{
}

#preiseundpolicyrow{
}

#policy{
}

#preise{
}

/*********************************
	BereichKontakt und anfahrt Maps und facebook
*********************************/

#contact{
	// padding-bottom: 60px;
}

#kontakt{
}

#anfahrt{
}

#guestbook{
}

#others{
	// background-color: @bodyBackground;
}

/*********************************
	Bereich Links
*********************************/

#links{
}

/*********************************
	Impressum.html is an own page
*********************************/

#impressum{
}




