/***********************
Main CSS based on twitter 
bootstrap build with .less
by pdxiii & fabiantheblind
Copyright © 2012
************************/

@import "bootstrap/bootstrap.less";
// @import "responsive.less";

// overwriting bootstraps variables
@bodyBackground:		@grayLighter;

@sansFontFamily:		"calluna-sans", Helvetica, Arial, sans-serif;
@serifFontFamily:		"calluna", Georgia, Times, serif;
@baseFontFamily:		@serifFontFamily;
@altFontFamily:			@sansFontFamily;

@headingsFontFamily:	@serifFontFamily;
@headingsFontWeight:	normal;
// @textColor:				#ffffcc;
@textColor:				darken(@red, 15%);
@baseLineHeight:		32px;
@baseFontSize:			18px;

@linkColor:             @red;
@linkColorHover:        darken(@linkColor, 15%);


// own variables
@darkRed:				#660000;

@fixedBarMargins: 		50px;

@letterPressShadow: 0 -1px 1px @red, 0 1px 1px @white;
@letterPressShadowOnRed: 0 -1px 1px @gray, 0 1px 1px @red;

@baseCornerRadius:	@baseLineHeight;
body {
  padding: 60px;
  background-image: url(../images/LightWaveCut.png);
}

h1, h2, h3, h4, h5, h6{
	text-shadow: @letterPressShadow;
}

h2{
	text-align: center;
}

p{
	word-wrap: break-word;
	text-align: justify;
	// text-align-last: left;
}
small{
	font-family: @sansFontFamily;
}

a, a:hover{
	font-family: @sansFontFamily;
	font-size: 0.8em;
	text-decoration: none;
	letter-spacing:1px;
}

#topbar a,
#topbar a:hover,
#bottombar a,
#bottombar a:hover{
	text-transform: uppercase;
}

// a:hover, a:active{
// 	outline: none;
// }

.borderRadius01{
	border-radius: @baseCornerRadius;
	-moz-border-radius: @baseCornerRadius;
	-webkit-border-radius: @baseCornerRadius;
}

.borderRadius02{
	border-radius: @baseCornerRadius/2;
	-moz-border-radius: @baseCornerRadius/2;
	-webkit-border-radius: @baseCornerRadius/2;
}

.container{
}
#container{
	margin-top: -30px;
}
.separator{
	width: 100%;
	text-align: center;
}
#myCarousel{

}
#welcome{
}

/*********************************
	Bereich Bett and Bread
*********************************/

#bettandbreadrow{
}

#bettandbread{
}

#fruehstueck{
}

/*********************************
	Bereich Lightbox
*********************************/


#lb{

}

#thumbnails{
	padding-top: 1em;

}
/*********************************
	Bereich Ankelohe und Umgebung
*********************************/

#headline_akuu{
}

#ankeloheundumgebung, #umgebung, #facilities{
}

#ankeloheundumgebung{
}

#umgebung{
}

#facilities{
}



/*********************************
	Bereich Preise und policy
*********************************/

#preiseundpolicyintro{
}


#preiseundpolicyrow, #policy, #preise{
}

#preiseundpolicyrow{
}

#policy{
}

#preise{
}

/*********************************
	BereichKontakt und anfahrt Maps und facebook
*********************************/

#contact{
	padding-bottom: 60px;
}

#kontakt{
}

#anfahrt{
}

#guestbook{
}

#others{
	// background-color: @bodyBackground;
}

/*********************************
	Bereich Links
*********************************/

#links{
}

/*********************************
	Impressum.html is an own page
*********************************/

#impressum{
}

/***********************
Overwrite Bootstrap CSS
************************/

.hero-unit{
	background-color: @bodyBackground;
}

#map_canvas {
	height: 5*@baseLineHeight;
	position: relative;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
	position: fixed;
}
#navLinks{
	width: 80%;
}
#ribbon {
	background-image: url(../images/contactRibbon.png);
	background-repeat:no-repeat;
	height: 80px;
	//width: 214px;
	margin-top: -5px;
}
#topbar, #bottombar{
	background-color: @bodyBackground;
	width:100%;
	position: fixed;
	z-index: 1100;
	margin-left: -60px;

}
#topbar{
	top: 0px;
	height: 45px;
}
#bottombar{
	bottom: 0px;
	height: 60px;
}
#topbar a{
	float: left;
	display: block;
	padding: 10px 20px 0px 0px;
	text-align: left;
}
#topbar a:first-child{
	padding-left: 0;
}
#topbar a:last-child{
	padding-top: 0px;
	padding-right: 0;
	float: right;
}
#bottombar a{
	padding-top: 10px;
	padding-right: 0;
	float: right;
}
#bottombar h2{
	padding-left: 0;
	display: inline;
}
#quote{
	font-size: 1.2em;
}
#source{
	float: right;
}
#singlePreview{
	background-image: url("../images/single_room_thumb.png");
}
#doublePreview{
	background-image: url("../images/double_room_thumb.png");
}
#suitePreview{
	background-image: url("../images/bellevue_room_thumb.png");
}

.priceTile{
	.borderRadius02;
	background-color: @bodyBackground;
}
.roomPreview{
	height: 5 * @baseLineHeight;
	border-bottom-style:solid;
	border-color: @red;
	border-width: medium;
}
.pricetag{
	.borderRadius01;
	width: @baseLineHeight *2;
	height: @baseLineHeight *2;
	background-color: @textColor;
	float: right;
	margin-top: -@baseLineHeight;
	margin-right: -10px;
	text-align: center;
	color: @bodyBackground;
	border: 2px solid @bodyBackground;
}
.priceHead{
	text-align: center;
	margin-bottom: 8px;
}
.price{
	margin-top: @baseLineHeight/2;
	margin-left: 2px;
	text-align: center;
	text-shadow: @letterPressShadowOnRed;
}
.digits{
	font-size: 1.3em;
	margin-top: @baseLineHeight/3;
	margin-left: -3px;
}
.priceCaption{
	margin-left: @baseLineHeight/2;
	margin-right: @baseLineHeight/2;
}
#others{
	width: 100%;
	background-color: @bodyBackground;
	border-top-style:solid;
	border-color: @red;
	border-width: medium;
	padding: 0px 60px 0px 60px;
	margin-left: -60px;
}