/***********************
Main CSS based on twitter 
bootstrap build with .less
by pdxiii & fabiantheblind
Copyright © 2012
************************/
/* Global Reset */
* {
  margin: 0;
  padding: 0;
}
.container h1,
.container h2,
.container h3,
.container h4,
.container h5 {
  font-family: "calluna", Georgia, serif !important;
}
.container p {
  font-size: 1.1em !important;
}
.container li {
  line-height: 1.5em;
  font-size: 1.1em;
}
body {
  line-height: 1.5em !important;
  padding: 60px;
  font-family: "calluna", Georgia, serif, serif;
  font-size: 1.1em;
}
body a {
  color: #60001b;
}
body a:hover {
  color: #ff0047;
}
/***********************
Overwrite Bootstrap CSS
************************/
.hero-unit {
  font-family: "calluna", Georgia, serif;
  background-color: #ffffff;
}
.hero-unit h1 {
  font-size: 3em !important;
}
