<h2>
	Bett &amp; Bread
</h2>
<div class="row">
	<div class="span7">
		<h3>
			Die Zimmer
		</h3>
		<p>
			Die sieben Zimmer und zwei Suiten, jeweils mit eigenem Badezimmer, sind großzügig und individuell eingerichtet. Sie bestechen durch zeitgenössisches Design, historische Möbel, warme Farben sowie natürlichen Materialien.</p>

<p>Die Suiten im Dachgeschoss sind besonders groß und komfortabel. Die Suite Bellevue verfügt über zwei Schlafzimmer und eine voll ausgestattete Küche. Alle Zimmer bieten schöne Blicke in den Park, ebenso eine Hochterrasse.</p>

<p>Abends können Sie sich im Kaminzimmer und im Roten Salon mit englischen Chesterfield-Möbeln aufhalten. Durchstöbern Sie die Bibliothek aus Büchern, Filmen und Musik - dann lassen Sie den Abend bei einem Glas Wein ausklingen.
</p>
	
	</div>
	<div class="span5">
		<h3>
			Essen &amp; Trinken
		</h3>
		<p>
			Zum Frühstück (8-12 Uhr) im Roten Salon mit weinumrankter Terrasse gibt es gesunde und köstliche Produkte der Region.
</p>
<p>
Tagsüber können Sie sich im Salon mit Mineralwasser, Tee und Gebäck versorgen, abends gerne auch Bier und Wein. Gerne empfehlen wir Ihnen lokale Restaurants.
		</p>
	</div>
</div>