<div id="gutUndUmgebung">
{% include separator.html %}
</div>
<div class="row">
	<div class="span12">
		<h2>Gut Ankelohe &amp; Umgebung</h2>
	</div>
</div>
<div class="row">
	<div class="span3" id="gut">
		<h3>
			Gut Ankelohe
		</h3>
		<p>
			Auf dem Gutshof können Sie den Außenpool und die Sonnenliegen nutzen, ebenso wie die finnische Waldsauna und den Spielraum mit Billard und Tischtennis. Erkunden Sie mit unseren Reitpferden, Leihfahrrädern oder auf Wanderschaft die naturgeschützte Landschaft aus Seen und Wäldern und erholen Sie sich an der frischen Nordseelust. Oder tun Sie einfach einmal nichts!
		</p>
	</div>
	<div class="span3" id="facilities">
		<h3>
			Facilities
		</h3>
		<ul>
			<li>WIFI im gesamten Gutshaus</li>
			<li>Fahrradverleih (auch Kinderräder)</li>
			<li>Sauna</li>
			<li>Sommerpool</li>
			<li>Reiten</li>
			<li>zwei Terrassen mit Gartenmöbeln</li>
			<li>Garten mit Schaukel</li>
		</ul>
	</div>
	<div class="span6" id="umgebung">
		<h3>
			Umgebung
		</h3>
		<p>
			In der direkten Nachbarschaft von Gut Ankelohe finden Sie ein weites Netz an Wander- und Radwegen um und herum des Bederkesaer Moorsees.
			<br />
			Im nur fünf Kilometer entfernten Nachbarort Bad Bederkesa können Sie die Moortherme nutzen, mit einer ausgedehnten Bade-und Saunalandschaft. Im Bereich Wellness gibt es Massagen und Moorbehandlungen, die wir gerne für Sie im voraus organisieren.<br />
			Ausgezeichnet Mittag- oder Abendessen können Sie sowohl im Ankeloher Hof im Ort oder in Bad Bederkesa, wir empfehlen Ihnen gerne die zu Ihnen passende Restauration.
			<br />
			Golfen in Hainmühlen oder Ausflüge an die Küste zum Wattwandern nach Bremerhaven (Klimahaus, Auswandererhaus), Cuxhaven (Zoo), Bremen (Kunst und Kultur) und Worpswede sind einfach von Gut Ankelohe aus zu organisieren. Wir unterstützen Sie gerne bei Ihrer Planung!
		</p>
	</div>
</div>