<h2>
	Gut Ankelohe &amp; Umgebung
</h2>
<div class="row">
	<div class="span4" id="gut">
		<h3>
			Gut Ankelohe
		</h3>
		<p>
			Auf dem Gutshof können Sie alle Annehmlichkeiten nutzen: den Sommerpool, den Grillplatz, die Gartenmöbel und Sonnenliegen, die finnische Waldsauna und den Spielraum mit Billard und Tischtennis. Erkunden Sie mit unseren Reitpferden, Leihfahrrädern oder auf Wanderschaft die naturgeschützte Landschaft aus Seen und Wäldern und erholen Sie sich an der frischen Nordseeluft. Oder tun Sie einfach einmal nichts!
		</p>
	</div>
	<div class="span3" id="facilities">
		<h3>
			Facilities
		</h3>
		<p>
			<ul>
				<li>WIFI im gesamten Gutshaus</li>
				<li>Fahrradverleih (auch Kinderräder)</li>
				<li>Waldsauna</li>
				<li>Sommerpool</li>
				<li>Reiten</li>
				<li>zwei Terrassen mit Gartenmöbeln</li>
				<li>Garten mit Schaukeln</li>
			</ul>
		</p>
	</div>
	<div class="span5" id="umgebung">
		<h3>
			Umgebung
		</h3>
		<p>
			Um das Gut Ankelohe finden Sie ein weites Netz an Wander- und Radwegen. Besonders reizvoll ist der Deichweg um den Bederkesaer See.</p>

<p>Im vier Kilometer entfernten Nachbarort Bad Bederkesa können Sie die Moortherme mit einer ausgedehnten Bade-und Saunalandschaft nutzen. Im Wellnessbereich gibt es Massagen und Moorbehandlungen, die wir gerne für Sie im voraus organisieren.</p>

<p>Gut essen können Sie im Gasthof Ankeloher Hof im Dorf oder in Bad Bederkesa. Gerne empfehlen wir Ihnen gute Restaurants.</p>

<p>Ausflüge zum Wattwandern an die Küste oder nach Bremerhaven (Klimahaus, Auswandererhaus), Cuxhaven (Zoo), Bremen (Kunst und Kultur) und Worpswede sind einfach von Gut Ankelohe aus zu organisieren. Wir unterstützen Sie gerne bei Ihrer Planung!</p>
		</p>
	</div>
</div>