<!--
##2 Fotos aus der Auswahl alte Fotos
gusthaus_postkarte  
helene_kleveman  
-->
<h2>
	Kleine Geschichte des Gutshauses
</h2>
<div class="row">
	<div class="span10 offset1">
		<div id="postcard">
			<img src="assets/images/gutshaus_postkarte.png">
		</div>
	</div>
</div>
{% include separator.html %}

<div class="row">
	<div class="span6">
		<!-- 	<div id="heleneleft">
				<img src="assets/images/helene_kleveman.png" id="helene">
			</div> -->
		<p>


		Das Bett&amp;Bread ist nach unserer Urgroßmutter Helene Kleveman benannt, die vor hundert Jahren im Gutshaus ein Mädchenpensionat für städtische Bürgerstöchter betrieb. Die Fotos und Briefe aus jener Zeit zeugen von einem paradiesischen Ort voller Liebe und Kunstsinn, den wir wieder aufleben lassen wollen.</p>
<p>
Im Gutshaus wohnten damals mehr als zwanzig Menschen, ständig trappelten Füße die große Treppe im Foyer rauf und runter. Es wurde vielstimmig geredet, gelacht und gestritten, gearbeitet und getanzt. Welch ein Leben herrschte damals in diesem Haus! </p>
<p>
Das Gut Ankelohe ist seit fünf Generationen im Besitz der Familie Kleveman. Im Jahre 1873 kaufte es Johan Heinrich Kleveman, ein Kaufmann aus Oldenburg, der die Stallungen errichten ließ, die heute als Gruppenhäuser dienen. Sein Sohn Theodor und dessen Frau Helene führten das Gut fort.
		</p>
		<p style="-webkit-hyphens:none; !important">
			Das Pensionat, das damals in einem Baedecker-Reiseführer über die Nordseeküste erwähnt wurde, lief bald so gut, dass das Gutshaus im Jahre 1907 um ein Stockwerk erweitert wurde.</p>
	</div>

	<div class="span6">
				<div id="heleneright">
			<img src="assets/images/helene_kleveman.png" id="helene">
		</div>
		
			<p>
Der Erste Weltkrieg zerstörte die Idylle auf Gut Ankelohe. Von den drei Söhnen, allesamt Offizieren, übernahm der Drittgeborene Hans-Heinricher das Gut, zusammen mit seiner Frau Theda. Zehn Jahre nach Ende des Zweiten Weltkriegs übergab Hans-Heinrich die Landwirtschaft an seinen Sohn Udo und dessen Frau Reinhild, die erstmals auch Feriengäste im Gutshaus aufnahm. </p>
<p>
Helenes Urenkel Lutz und dessen junge Frau Laila leben und arbeiten heute auf Gut Ankelohe. Sie sanierten die maroden, alten Stallungen und bauten das Gut zum heutigen Seminar- und Ferienhof aus. Um an die Lebensleistung gerade der weiblichen Vorfahren auf Gut Ankelohe zu erinnern und vielleicht die friedliche Idylle aus der Mädchenpensionats-Zeit vor dem Ersten Weltkrieg wieder aufleben zu lassen, haben Lutz und Laila Kleveman das neue Bed&amp;Breakfast im Gutshaus nach der Urgroßmutter Helene benannt.
		</p>

	</div>
</div>
{% include separator.html %}


<div class="span10 offset1">
<p>
		Seine Familiengeschichte hat Urenkel Lutz Kleveman in seinem Buch ‚Kriegsgefangen‘ (2011 Siedler Verlag) aufgeschrieben. Wie es wohl damals auf Gut Ankelohe zugegangen sein mag, erläutert dieses Zitat:</p>
			<p id="quote">
&bdquo;Schon als ich mir die Photos von vor hundert Jahren angesehen hatte, kamen sie mir vor wie aus einer anderen Welt, die lange untergegangen war. Sicher, ich erkannte das schnörkellos nüchterne, mit Efeu und wildem Wein umrankte Gutshaus wieder und einige ziegelrote Stallungen, damals noch mit Reet gedeckt, dann die Dorfstraße, seinerzeit noch mit Kopfsteinpflaster, auch junge Bäume auf dem Hof, die heute alte Riesen sind. Aber was trugen diese Menschen, meine Vorfahren, doch für sonderbare Kleidung, wie ernst waren ihre Gesichter, wie bescheiden sahen die Möbel aus, wie altmodisch die Kutschen.&quot;
	</p>
	<p id="source">
		<small>Quelle: <a href="http://www.kleveman.com/" target="_blank">kleveman.com</a></small>
	</p>
</div>