
##2 Fotos aus der Auswahl alte Fotos
gusthaus_postkarte  
helene_kleveman  


<div id="history">
{% include separator.html %}
</div>
<div class="row">
	<div class="span12">
		<h2>Kleine Geschichte des Gutshauses</h2>
	</div>
</div>
<div class="row">
	<div class="span6">
		<p>
			Das Bett &amp; Bread ist nach unserer Urgroßmutter Helene Kleveman benannt, die vor dem Ersten Weltkrieg im Gutshaus ein Mädchenpensionat für städtische Bürgerstöchter betrieb. Die Fotos und Briefe aus jener Zeit zeugen von einem paradiesischen Ort voller Liebe und Kunstsinn, den wir wieder aufleben lassen wollen.
			<br />
			Im Gutshaus wohnten damals zwanzig, wenn nicht dreißig Menscen, ständig trappelten Füße die große Treppe im Foyer rauf und runter, es wurde vielstimmig geredet, gelacht und gestritten, gearbeitet und getanzt. Welch ein Leben herrschte damals in diesem Haus! 
			<br />
			Das Gut Ankelohe ist seit fünf Generationen im Besitz der Familie Kleveman. Im Jahre 1873 kaufte es Johan Heinrich Kleveman, ein Kaufmann aus Oldenburg. Sein Sohn Theodor und dessen Frau Helene erbauten um die Jahrhundertwende die Stallungen, die heute als Gruppenhäuser dienen.
			<br />
			Das Pensionat, das damals in einem Baedecker-Reiseführer über die Nordseeküste erwähnt wird, läuft bald so gut, dass das Gutshaus im Jahre 1907 um ein Stockwerk erweitert wurde. Nun hat es die heutige Gestalt mit den hohen, flachen Giebeln, einer großen, verglasten Holzveranda vor dem Eingang an der Querseite und innen etwa zehn neuen Zimmern mit vielen großen Fenstern, verbunden durch einen breiten Flur.
		</p>
	</div>
	<div class="span6">
		<p>
			Der Erste Weltkrieg zerstört die Idylle auf Gut Ankelohe. Von den drei Söhnen, allesamt Offizieren, wird einer in Belgien verwundet, der zweite fällt in Frankreich, der dritte Hans-Heinrich gerät in russische Kriegsgefangenschaft. Nach seiner Rückkehr übernimmt er das Gut, zusammen mit seiner Frau Theda. Zehn Jahre nach Ende des Zweiten Weltkriegs übergibt Hans-Heinrich die Landwirtschaft an seinen Sohn Udo und dessen Frau Reinhild, die erstmals auch Feriengäste im Gutshaus aufnimmt.
			<br />
			Helenes Urenkel Lutz und dessen junge Frau Laila leben und arbeiten nun auf Gut Ankelohe und sanierten die maroden, alten Stallungen und bauten das Gut zum heutigen Seminar- und Ferienhof aus. Um an die Lebensleistung gerade der weiblichen Vorfahren auf Gut Ankelohe zu erinnern und vielleicht die friedliche Idylle aus der Mädchenpensionats-Zeit vor dem Ersten Weltkrieg wieder aufleben zu lassen, haben Lutz und Laila Kleveman das neue Bed &amp; Breakfast im Gutshaus nach der Urgroßmutter Helene benannt.
			<br />
			Seine Familiengeschichte hat Urenkel Lutz Kleveman in seinem Buch ‚Kriegsgefangen‘ (2011 Siedler Verlag) aufgeschrieben. Wie es wohl damals auf Gut Ankelohe zugegangen sein mag, erläutert dieses Zitat:
		</p>
	</div>
</div>
<div class="row">
	<div id="quote" class="span10 offset1">
		<p>
			„Schon als ich mir die Photos von vor hundert Jahren angesehen hatte, kamen sie mir vor wie aus einer anderen Welt, die lange untergegangen war. Sicher, ich erkannte das schnörkellos nüchterne, mit Efeu und wildem Wein umrankte Gutshaus wieder und einige ziegelrote Stallungen, damals noch mit Reet gedeckt, dann die Dorfstraße, seinerzeit noch mit Kopfsteinpflaster, auch junge Bäume auf dem Hof, die heute alte Riesen sind. Aber was trugen diese Menschen, meine Vorfahren, doch für sonderbare Kleidung, wie ernst waren ihre Gesichter, wie bescheiden sahen die Möbel aus, wie altmodisch die Kutschen.“
			<br />
			Quelle: [kleveman.com](http://www.kleveman.com/)
		</p>
	</div>
</div>







