<h2>
	Anfahrt &amp; Kontakt
</h2>
<div class="row">
	<div class="span6">
		{% include map.html %}
		<p>
			<small>
				Ankelohe liegt zwischen Bremerhaven und Hamburg im Landkreis Cuxhaven, etwa 20 Kilometer von der Nordseeküste entfernt.
			</small>
		</p>
	</div>
	<div class="span5 offset1">
		<adress>
			<strong>Gut Ankelohe - Bett &amp; Bread „Helene“</strong><br />
			Familie Lutz &amp; Laila Kleveman<br />
			Am Brink 1<br />
			27624 Bad Bederkesa<br />
			<abbr title="Phone">Tel:</abbr> +49 (0) 4745 / 93 14 95<br />
			<a href="mailto:anfrage@gut-ankelohe.de">anfrage@gut-ankelohe.de</a>
		</adress>
	</div>
</div>