<div id="contact">
{% include separator.html %}
</div>
<div class="row">
	<div class="span12">
		<h2>
			Kontakt &amp; Anfahrt
		</h2>
	</div>
</div>
<div class="row">
	<div class="span6">
		{% include map.html %}
		<p>
			Ankelohe liegt zwischen Bremerhaven und Hamburg im Landkreis Cuxhaven, etwa 20 Kilometer von der Nordseeküste entfernt.
		</p>
	</div>
	<div class="span6">
		<p>
			<strong>Gut Ankelohe - Bett & Bread „Helene“</strong><br />
			Familie Lutz & Laila Kleveman<br />
			Am Brink 1<br />
			27624 Bad Bederkesa<br />
			Tel: 04745 / 93 14 95<br />
			anfrage@gut-ankelohe.de<br />
		</p>
	</div>
</div>