<ul>
	<li>
		<a href="http://www.gut-ankelohe.de">
			gut-ankelohe
		</a>
	</li>
	<li>
		<a href="http://www.moor-therme.de/">
			Moortherme
		</a>
	</li>
	<li>
		<a href="http://www.golfhm.de/">
			Golfplatz
		</a>
	</li>
	<li>
		<a href="http://www.cestlavie-bederkesa.de/">
			C´est la Vie
		</a>
	</li>
	<li>
		<a href="http://www.boesehof.de/index.php/de/restaurants">
			Bösehof
		</a>
	</li>
	<li>
		<a href="http://www.dobbendeel.de/">
			Dobbendeel
		</a>
	</li>
	<li>
		<a href="http://www.ankeloher-hof.de/">
			Ankeloher Hof
		</a>
	</li>
</ul>