<!-- mobile navigation -->
<div class="span12">
	<div id="mobilenav"class="navbar-fixed-top visible-phone">
		<div class="row-fluid">
			<h1 class="pull-left">Bed &amp; Bread</h1>
			<div class="dropdown pull-right">
				<a id="indexbutton" class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					Index
					<span class="caret"></span>
				</a>
				<ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
					<!-- dropdown menu links -->
					<li><a tabindex="-1" href="#welcome">Willkommen</a></li>
					<li><a tabindex="-1" href="#bettandbreadrow">Bett &amp; Bread</a></li>
					<li><a tabindex="-1" href="#headline_akuu">Gut &amp; Umgebung</a></li>
					<li><a tabindex="-1" href="#preiseundpolicyintro">Preise</a></li>
					<li><a tabindex="-1" href="#kontaktundanfahrtrow">Kontakt</a></li>
					<li class="divider"></li>
					<li id="nav-imprint"><a tabindex="-1" href="/impressum.html">IMPRESSUM</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="row-fluid visible-phone">
	<div id="ribbon" class="span12">
		<a href="#kontaktundanfahrtrow">
			KONTAKT
		</a>
	</div>
</div>