<!-- mobile navigation -->
<div class="span12">
	<div id="mobilenav"class="navbar-fixed-top visible-phone">
		<div class="row-fluid">
			<h1 class="pull-left">Bed &amp; Bread</h1>
			<ul class="nav-pills pull-right">
				<li id="indexbutton" class="dropdown ">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#">
					Index
					<b class="caret"></b>
				</a>
				<ul class="dropdown-menu pull-right">
					<!-- dropdown menu links -->
					<li><a href="#welcome">Willkommen</a></li>
					<li><a href="#bettandbreadrow">Bett &amp; Bread</a></li>
					<li><a href="#headline_akuu">Gut &amp; Umgebung</a></li>
					<li><a href="#preiseundpolicyintro">Preise</a></li>
					<li><a href="#kontaktundanfahrtrow">Kontakt</a></li>
					<li class="divider"></li>
					<li id="nav-imprint"><a href="/impressum.html">IMPRESSUM</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="row-fluid">
	<div id="ribbon" class="span12">
		<a href="#kontaktundanfahrtrow">
		</a>
	</div>
</div>