<div id="navbarSpy" class="navbar navbar-fixed-top">
	<div id="navLinks" class="navbar-inner">
		<div class="container">
			<a class="brand visible-desktop" href="index.html">Bett & Bread</a>
			<ul class="nav pull-left">
				<li><a href="#welcome">Willkommen</a></li>
				<li><a href="#bettandbreadrow">Bett & Bread</a></li>
				<li><a href="#headline_akuu">Gut & Umgebung</a></li>
				<li><a href="#preiseundpolicyintro">Preise</a></li>
				<li class="hidden-desktop"><a href="impressum.html">Impressum</a></li>
			</ul>
		</div>
	</div>
	<div id="ribbon" class="nav pull-right">
		<a href="#kontaktundanfahrtrow">
			<img src="/assets/images/contactRibbon.png">
		</a>
	</div>
</div>