<div id="preise">
{% include separator.html %}
</div>
<div class="row">
	<div class="span12">
		<h2>Preise &amp; Policy</h2>
	</div>
</div>
<div class="row">
	<div class="span2">
		<strong>
			€  78,–
		</strong>
		<br />
		<p>
			im Doppelzimmer pro Nacht (€39,- pro Person) inklusive Frühstück.
		</p>
		<div class="doublePreview">
		</div>
	</div>
	<div class="span2">
		<strong>
			€  59,–
		</strong>
		<br />
		<p>
			im Einzelzimmer pro Nacht inklusive Frühstück.
		</p>
		<div class="singlePreview">
		</div>
	</div>
	<div class="span2">
		<strong>
			€  00,–
		</strong>
		<br />
		<p>
			Suite „Bellevue“ als Bed &amp; Bread oder als Ferienwohnung
		</p>
		<div class="suitePreview">
		</div>
	</div>
</div>