<h2>
	Preise &amp; Policy
</h2>
<div class="row">
	<div class="span4 priceTile">
		<h3 class="priceHead"><img src="assets/images/distel_left.png" alt="" id="tiledistel"> Doppelzimmer <img src="assets/images/distel_right.png" alt="" id="tiledistel"></h3>
		<div id="doublePreview" class="roomPreview">
			
		</div>
		<div class="pricetag">
			<p class="price">
				&euro;  <span class="digits">  78,&ndash;</span>
			</p>
		</div>
		<p class="priceCaption">
			pro Nacht (&euro;39,- pro Person) 
			<br />
			inklusive Fr&uuml;hst&uuml;ck.
		</p>
	</div>
	<div class="span4 priceTile">
		<h3 class="priceHead"><img src="assets/images/distel_left.png" alt="" id="tiledistel"> Einzelzimmer <img src="assets/images/distel_right.png" alt="" id="tiledistel"></h3>
		<div id="singlePreview" class="roomPreview">
		</div>
		<div class="pricetag">
			<p class="price">
				&euro;  <span class="digits">  58,&ndash;</span>
			</p>
		</div>
		<p class="priceCaption">
			im Einzelzimmer pro Nacht
			<br />
			inklusive Fr&uuml;hst&uuml;ck.
		</p>
	</div>
	<div class="span4 priceTile">
		<h3 class="priceHead"><img src="assets/images/distel_left.png" alt="" id="tiledistel"> Suite &laquo;Bellevue&raquo; <img src="assets/images/distel_right.png" alt="" id="tiledistel"></h3>
		<div id="suitePreview" class="roomPreview">
		</div>
		<div class="pricetag">
			<p class="price">
				&euro;  <span class="digits">100,&ndash;</span>
			</p>
		</div>
		<p class="priceCaption">
			als Bed &amp; Bread 
			<br />
			oder als Ferienwohnung
		</p>
	</div>
</div>
<br />
<div class="row">
	<div class="span6">
		<ul>
			<li>
				Kinder bis vier Jahre freie &Uuml;bernachtung
			</li>
			<li>
				leider keine Haustiere
			</li>
			<li>
				Nicht-Raucherhaus
			</li>
			<li>
				Check-in ab 16 Uhr
			</li>
			<li>
				Check-out 12 Uhr
			</li>
			<li>
				Zahlweise Cash
			</li>
		</ul>
	</div>
	<div class="span6">
		<p>
			Bei l&auml;ngeren Aufenthalten sind Verg&uuml;nstigungen m&ouml;glich. Kinder bis vier Jahre &uuml;bernachten kostenlos. Kinderbetten sind vorhanden.
			<br />
			Die Suite Bellevue verf&uuml;gt &uuml;ber zwei Schlafzimmer, einem Wohnzimmer mit Sofa und Fernseher, Esstisch und einer vollausgestatteten K&uuml;che. Sie k&ouml;nnen Sie in der Bed &amp; Bread Variante oder als Ferienwohnung mieten. 
		</p>
	</div>
</div>