<h2>
	Preise &amp; Policy
</h2>
<div class="row">
	<div class="span4 priceTile">
		<h3 class="priceHead"><img src="assets/images/distel_left.png" alt="" id="tiledistel"> Doppelzimmer <img src="assets/images/distel_right.png" alt="" id="tiledistel"></h3>
		<div id="doublePreview" class="roomPreview">
			
		</div>
		<div class="pricetag">
			<p class="price">
				&euro;  <span class="digits">  78,&ndash;</span>
			</p>
		</div>
		<p class="priceCaption">
			Preise pro Zimmer
			<br />
			inklusive Fr&uuml;hst&uuml;ck.
		</p>
	</div>
	<div class="span4 priceTile">
		<h3 class="priceHead"><img src="assets/images/distel_left.png" alt="" id="tiledistel"> Einzelzimmer <img src="assets/images/distel_right.png" alt="" id="tiledistel"></h3>
		<div id="singlePreview" class="roomPreview">
		</div>
		<div class="pricetag">
			<p class="price">
				&euro;  <span class="digits">  58,&ndash;</span>
			</p>
		</div>
		<p class="priceCaption">
			Preise pro Zimmer
			<br />
			inklusive Fr&uuml;hst&uuml;ck.
		</p>
	</div>
	<div class="span4 priceTile">
		<h3 class="priceHead"><img src="assets/images/distel_left.png" alt="" id="tiledistel"> Suite Helene &amp; Bellevue <img src="assets/images/distel_right.png" alt="" id="tiledistel"></h3>
		<div id="suitePreview" class="roomPreview">
		</div>
		<div class="pricetag">
			<p class="price">
				&euro;  <span class="digits">98,&ndash;</span>
			</p>
		</div>
		<p class="priceCaption">
			3-4 Personen
			<br />
			inklusive Fr&uuml;hst&uuml;ck.
		</p>
	</div>
</div>
<br />
<div class="row">
	<div class="span6">
		<ul>
			<li>
				Kinder bis vier Jahre gratis
			</li>
			<li>
				leider keine Haustiere
			</li>
			<li>
				Nichtraucher-Haus
			</li>
			<li>
				Check-in ab 14 Uhr
			</li>
			<li>
				Check-out 12 Uhr
			</li>
		</ul>
	</div>
	<div class="span6">
		<p>
			Bei längeren Aufenthalten sind Rabatte möglich.
Kinder bis vier Jahre übernachten kostenlos. Kinderbetten sind vorhanden.
Die Suite Bellevue verfügt über zwei Schlafzimmer, ein Badezimmer, ein Wohnzimmer und eine voll ausgestatteten Küche mit Esstisch. Sie kann auch als Ferienwohnung ohne Frühstück gemietet werden.
		</p>
	</div>
</div>