<div id="welcome">
{% include separator.html %}
</div>

<div class="row">
	<div class="span12">
		<h2>
			Willkommen im Bett &amp; Bread „Helene“ auf Gut Ankelohe!
		</h2>
	</div>
</div>
<div class="row">
	<div class="span6">
		Das Gut Ankelohe nahe der Nordsee ist der ideale Ort für entspannte Kurzurlaube und romantische Wochenenden. Im Gutshaus bieten wir elegante Übernachtungen mit Frühstück im englischen „Bed &amp; Breakfast“-Stil etwa für Verliebte, Radfahrer und Familien.
	</div>
	<div class="span6">
		<p>
			Der Gutshof, seit 150 Jahren im Besitz der Familie Kleveman, ist umgeben von einem Park mit alten Bäumen. Die liebevoll renovierten Zimmer und Suiten im Gutshaus sind individuell eingerichtet, in einem Mix aus antiken Möbeln und Kunstwerken.
		</p>
	</div>
</div>