---
layout: default
title: Bett & Bread "Helene"
---

<div class="row">
	<div class="span12">
		<div id="myCarousel" class="carousel slide">
			<div class="carousel-inner">
{{ 'assets/images/slideshow/*.png'| gallery }}
			</div>
		</div>
	</div>
</div>

<!--NO CONTROL PLEASE
<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
-->

{% include welcome.html %}

{% include bettandbread.html %}

<div id="tour">
{% include separator.html %}
</div>

<div class="row">
	<div class="span12" id="lb">
		<h3>
			Tour
		</h3>
	</div>
</div> 
<!-- 
The liquid filter takes the following arguments:
path == path to image folder
lightboxgallery == is the filter call
rel == the rel attribute lightboxv2 needs
pathreplace == the path to look for the thumbnails should be in the lightbox folder
id == the id for the div tag enclosing the single images
span == the span to set for the twitter bootstrap span class 
 -->
<div class="row">
{{ 'assets/images/lightbox/*.png'| lightboxgallery : 'lightbox[group]' : 'lightbox/thumbs' : 'thumbnails', 'span2'}}
</div> 

{% include history.html %}

{% include gutUndUmgebung.html %}

{% include preise.html %}

{% include kontaktUndAnfahrt.html %}

<div id="others">
	<div class="row">
		<div class="span12" =id="links">
{% capture links %}
{% include links.md %}
{% endcapture %}
{{ links | markdownify }}
		</div> <!-- close nichtzuletzt -->
	</div>

	<div class="row">
		<div class="span12" id="impressum">
			<a href="/impressum.html">impressum</a> <br>
			<a href="/guestbook.html">guestbook</a> <br>
		</div>
	</div>
</div>