---
layout: singlepage
title: Guestbook
---  

<div class="row">
<div class="span10 offset1">
	<h2><img src="/assets/images/distel_left.png" alt=""> Das Gästebuch <img src="/assets/images/distel_right.png" alt=""></h2>

		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  
	
	</div>

</div>

{% include separator.html %}  

<div class="row">
	<div class="span10 offset1" id="gestbook">
{% include disqus.html %}
</div>  </div>

