---
layout: default
title: Bett & Bread "Helene"
---
{% include contactbutton.html %}
{% include topbar.html %}

<div id="container" class="container">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			{{ 'assets/images/slideshow/*.jpg'| gallery }}
		</div>
	</div>
	
	<!--NO CONTROL PLEASE
	<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	-->

	<div id="welcome">
		<br />
		<br />
		{% include welcome.html %}
	</div>
	<div id="bettAndBread">
		{% include separator.html %}
		{% include bettandbread.html %}
	</div>
	<div id="lb">
		{% include separator.html %}
		<h3>
			Tour
		</h3>
<!-- 
The liquid filter takes the following arguments:
path == path to image folder
lightboxgallery == is the filter call
rel == the rel attribute lightboxv2 needs
pathreplace == the path to look for the thumbnails should be in the lightbox folder
id == the id for the div tag enclosing the single images
span == the span to set for the twitter bootstrap span class 
 -->
		<div class="row">
			{{ 'assets/images/lightbox/*.png'| lightboxgallery : 'lightbox[group]' : 'lightbox/thumbs' : 'thumbnails', 'span2'}}
		</div>
	</div>
	<div id="history">
		{% include separator.html %}
		{% include history.html %}
	</div>
	<div id="gutUndUmgebung">
		{% include separator.html %}
		{% include gutUndUmgebung.html %}
	</div>
	<div id="preise">
		{% include separator.html %}
		{% include preise.html %}
	</div>
	<div id="contact">
		{% include separator.html %}
		{% include kontaktUndAnfahrt.html %}
	</div>
<br>
</div> <!-- end #container-->

<!-- <div id="skyimage">
</div> -->
<div id="others">
	{% include others.html %}
</div>
{% include bottombar.html %}